#Experience > .container-fluid > .container{
    color: #1b1c25;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background: var(--color-primary);
    border-radius: 10px;
    padding: 20px;


}
#Eperience > .container-fluid{
    padding: 2% 0;
    /* background: var(--color-primary); */
}

.skill{

    text-align: start;
    /* background: var(--color-variant); */
    margin: 15px;
    /* border-radius: 5px; */
    padding: 10px;

    
}
.skill-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 600px) {
    .skill-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}