form > div{
    margin: 2% 0;
    
}

form > div > input, form > div > textarea {
    width: 100%;
    border: solid 1px var(--color-variant) !important;
    border-radius: 10px;
    padding: 2%;
}
form > div > input, textarea{
   min-height: 50px;
    background: transparent;
    color:white;
}

form .btn {
    display: grid;
    justify-items: start;
}