.portfolio-image{
    border-radius: 20px;
    width: 100%;
    min-height: 200px;
    
    
}
.portfolio-button{
    background: var(--color-primary-variant);
    color: var(--color-primary);
    display: grid;
    justify-items: start;
    margin: 4px 0;
    cursor: pointer;
}


.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    color: var(--color-primary);
    justify-items: center;

}

.portfolio-container > article{
    /* background: var(--color-primary-variant); */
    border: solid 1px var(--color-primary-variant);
    border-radius: 20px;
    /* padding: 15px; */
}
.portfolio-container > article > div{
    padding: 15px;
}
.portfolio-container > article > div >div{
    text-align: left;
}

.portfolio-container > article h3{
    font-size: 1.5rem;
    text-align: left;
    margin: 8px 0;
    background: transparent;
    
}

/* ===========media-scree */
/* @media (max-width: 1024px) {
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
} */