*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background: var(--color-bg);
}
body{
    color: var(--color-primary);
}
html{
    scroll-behavior: smooth;
}

:root{
    --color-bg: #ffff;
    --color-bg-variant: #D7FBE8;
    --color-primary: #1FAB89;
    --color-primary-variant: #62D2A2; 
    --color-link-icons: #9DF3C4;
    --color-dark: rgb(27, 27, 27);
    --transition: all 400ms ease;

}
a{
    color: var(--color-primary-button);
    text-decoration: none;
}
img{
    object-fit: cover;
    width: 60%;
}

.container-fluid{
    padding: 7% 15%;
}
.container-fluid > h5{
    color: var(--color-dark);

}
.container-fluid > h2{
    margin-bottom: 20px;


}
.container-fluid > h2 , .container-fluid > h5{
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

#About, #About > .container-fluid > h2, #About > .container-fluid > h5{


    animation-delay: 2s;
}
#Experience, #Experience > .container-fluid > h2, #Experience > .container-fluid > h5{

    animation-delay: 5s;
}
#Portfolio #Portfolio > .container-fluid > h2, #Portfolio > .container-fluid > h5{

    animation-delay: 7s;
}
#Contact #Contact > .container-fluid > h2, #Contact > .container-fluid > h5{

    animation-delay: 10s;
}

section{
    animation: backInLeft;
    animation-duration: 2s;
}


/* ===========media-query============= */

/* ======medium-devices========== */
@media (max-width:1024px) {
    ::-webkit-scrollbar{
        display: none;
    }
}
/* =============smaller-devices======== */
@media (max-width: 600px) {

}


