*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
   
}
.alternate{
    color: var(--color-variant);
}
body{
    color: var(--color-primary);
     background: #1b1c25;
}
html{
    scroll-behavior: smooth;
}

:root{
    --color-bg: #1b1c25;
    --color-variant: #aca8a4;
    --color-primary: white;
    --color-primary-variant: #005abd; 
    --color-dark: rgb(27, 27, 27);
    --transition: all 400ms ease;
    

}
a{
    color: #aca8a4;
    text-decoration: none;
}
img{
    object-fit: cover;
    width: 60%;
}

section > .container-fluid{
    padding: 7% 15%;
}
.container-fluid > h5{
    

}
.container-fluid > h2{
    margin-bottom: 20px;


}
/* .container-fluid > h2 , .container-fluid > h5{
    animation: bounce;  referring directly to the animation's @keyframe declaration */
  /* animation-duration: 2s; 
} */


.sectionAnimation{
    scroll-behavior: smooth;
    animation: backInLeft;
    animation-duration: 2s;
}


/* ===========media-query============= */

/* ======medium-devices========== */
@media (max-width:1024px) {
    ::-webkit-scrollbar{
        display: none;
    }
}
/* =============smaller-devices======== */
@media (max-width: 600px) {

}


