nav{
    background: var(--color-variant);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(1px);
    cursor: pointer;
}
/* nav:hover{
background: var(--color-primary-variant);
transition: 0.5s ease-in-out ;
} */
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
}
a .nav-icons{
    background: transparent;
    color: var(--color-bg);
}

nav a:hover{
    background: #d4cfca;
}
nav a.active{
    background-color: #d4cfca;
}

@media (max-width:600px) {
    nav{
        padding: 0.3rem 1.3rem;
        border-radius: 2rem;
        gap: 0.3rem;
    }
    nav a {
        font-size: 1.0rem;
    }
}